<p id="notice"><%= notice %></p>

<p>
  <strong>Population:</strong>
  <%= @city.population %>
</p>

<p>
  <strong>Region:</strong>
  <%= @city.region %>
</p>

<p>
  <strong>Government:</strong>
  <%= @city.government %>
</p>

<p>
  <strong>Importmaterials:</strong>
  <%= @city.importMaterials %>
</p>

<p>
  <strong>Exportmaterials:</strong>
  <%= @city.exportMaterials %>
</p>

<p>
  <strong>Armorer:</strong>
  <%= @city.armorer %>
</p>

<p>
  <strong>Weaponssmith:</strong>
  <%= @city.weaponsSmith %>
</p>

<p>
  <strong>Supplies:</strong>
  <%= @city.supplies %>
</p>

<p>
  <strong>Pointofinterest1:</strong>
  <%= @city.pointOfInterest1 %>
</p>

<p>
  <strong>Pointofinterest2:</strong>
  <%= @city.pointOfInterest2 %>
</p>

<p>
  <strong>Pointofinterest3:</strong>
  <%= @city.pointOfInterest3 %>
</p>

<p>
  <strong>Race1:</strong>
  <%= @city.race1 %>
</p>

<p>
  <strong>Race2:</strong>
  <%= @city.race2 %>
</p>

<p>
  <strong>Race3:</strong>
  <%= @city.race3 %>
</p>

<p>
  <strong>Religion1:</strong>
  <%= @city.religion1 %>
</p>

<p>
  <strong>Religion2:</strong>
  <%= @city.religion2 %>
</p>

<p>
  <strong>Religion3:</strong>
  <%= @city.religion3 %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
